.nav-holder{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(160, 147, 147);
    padding: 15px;
    border-radius: 6px;
    margin-top: 3px;
}

.input-search-holder{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.input-holder{
    overflow-x: hidden;
}
.search-input{
    left: 0px;
    position: relative;
    height: 40px;
    border-radius: 6px;
    padding-left: 10px;
    background-color: rgb(238, 238, 238);
    padding-bottom: 3px;
    animation: search-box;
    animation-duration: 1s;
}
@keyframes search-box {
    from{
     left: -200px;
    }
    to{
        left: 0px;
    }
    
}


.search-holder{
    padding-left: 10px;
    overflow-y: hidden;
}


.search-btn{
    position: relative;
    top: 0px;
    color: rgb(229, 229, 229);
    background-color: #c3073f;
    border: #6f2232;
    padding-bottom: 8px;
    box-shadow: 0 0 3px 1px rgba(150, 150, 150, 0.242);
    animation: search-btn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes search-btn {
    from{
        top: -50px;
    }
    to{
        top: 0px;
    }
}
.search-btn:hover{
    color: rgb(229, 229, 229);
    background-color: #950740;
    box-shadow: none;
}

.logo-holder{
    display: flex;
    
    height: 35px;
    overflow-x: hidden;
}

.logo{
    
    position: relative;
    object-fit: contain;
    width: 100%;
    animation: logo;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-duration: 3s;
    animation-iteration-count: infinite;
    right: -110px;
    
}
@keyframes logo {
    from{
        right: -110px;
    }
    50%{
       right: -5px;
    }
    to{
        right: -125px;
    }
    
}

/* ============ for mobiles ============= */

@media screen and (max-width:450px) {
    /* *{
        background-color: red;
    } */
    .search-btn{
        font-size: x-small;
        height: 27px;
    }
    .search-input{
        font-size: x-small;
        height: 30px;
        width: 110px;
    }
    
}

/*  ============ under 300px ============= */

@media screen and (max-width: 300px){
    .search-btn{
        padding: 0;
        width: 100%;
      
    }
    .search-holder{
        padding:0;
        padding-left: 1px;
        width: 25%;
    }
    .input-holder{
        width: 50%;
        display: inline;
        
    }
    .input-search-holder{
        padding: 0;
    }
    .search-input{
        position: relative;
        width: 100%;
       padding: 0;
       font-size: 68%;
    }
}


/* ======== for tablets ============= */
@media screen and (min-width:1000px){
@keyframes logo {
    from{
        right: -400px;
    }
    50%{
       right: -200px;
    }
    to{
        right: -400px;
    }
    
}
}