body{
  background-color: #1A1A1D;
  max-width: 2000px;
  margin: auto;
}

.memes-block{
  padding:10px 0 10px 0;
  
}

.select-meme-text{
  color: rgb(226, 226, 226);
  margin-bottom: 10px;
}
.no-memes{
  color: white;
}

.view-all-btn{
  color: white;
  background-color: #c3073f;
}